@inherits LayoutComponentBase                                           
<main class="d-flex flex-column justify-content-between min-vh-100 overflow-hidden pb-5">
    <div class="top-row d-flex justify-content-center">
        <p class="fw-bold m-0">&copy; 2023 - Task 6 => .NET Internship!</p>
    </div>

    <article class="content px-4">
        @Body
    </article>
</main>